{% extends 'CatalogueBundle::mybase.html.twig' %}

{% block body -%}{{ parent() }}
    <h1>SoftwareLicense list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Software</th>
                <th>Licensekey</th>
                <th>Seats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('software_licenses_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.softwaretitle != null %}{{ entity.softwaretitle.name }} {{ entity.softwaretitle.version }}{% endif %}</td>
                <td>{{ entity.licenseKey }}</td>
                <td>{{ entity.seats }}</td>
                <td>
                        <a href="{{ path('software_licenses_show', { 'id': entity.id }) }}">S</a>
                        <a href="{{ path('software_licenses_edit', { 'id': entity.id }) }}">E</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('software_licenses_new') }}">
                Create a new entry
            </a>
    {% endblock %}
